:root {
  --tile-size: 400px;
  --welcome-color: white;
  --welcome-text-color: black;
  --body-color: white;
  --portfolio-max-width: 1240px;;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--body-color);
}
#root {
  margin: 10px;
}
